
<wrapper>
<h2 class="center">All Users</h2>


</div>
<table class="usersTable">
  <thead>
    <tr>
      <th>Email</th>
      <th>Account Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% user.forEach(user => { %>
    <tr>
      <td>
        
          <%= user.email %> 
        
      </td>
      <td>
          <% if(user.accountType === "Business"){ %> 

            <a href="/users/createBusinessProfile/<%=user._id%> ">
            <%= user.accountType %>
           
        </a>
        <% } else { %> 
            <%= user.accountType %>
            <% } %>

        
                
            
            
         

      </td>
      <td>
        <a href="<%=`users/${user._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
</wrapper>
