<wrapper>
    <% business.forEach(business => { %>
    <% if(business.service.includes("Construction")){ %> 

      
      <table class="content-table">
        <tr>
          <th>Company Name</th>
          <td>
            <%= business.companyName %>
          </td>
        </tr>
        <tr>
          <th>City</th>
          <td>
            <%= business.companyName %>
          </td>
        </tr>
        <tr>
          <th>State</th>
          <td>
            <%= business.state %>
          </td>
        </tr>
        <tr>
          <th>Zip Code</th>
          <td>
            <%= business.zipCode %>
          </td>
        </tr>
        <tr>
          <th>State</th>
          <td>
            <%= business.state %>
          </td>
        </tr>
        <tr>
          <th>Service</th>
          <td>
            <%= business.service %>
          </td>
        </tr>
        <tr>
          <th>State</th>
          <td>
            <%= business.state %>
          </td>
        </tr>
        </table>
      <% }}) %>
    </wrapper>