<wrapper>
    <% business.forEach(business => { %>
    <% if(business.service.includes("Mechanic")){ %> 

      <table class="content-table">
        <tr>
          <th>Company Name:</th>
          <td>
            <%= business.companyName %>
          </td>
        </tr>
        <tr>
          <th>City:</th>
          <td>
            <%= business.city %>
          </td>
        </tr>
        <tr>
          <th>State:</th>
          <td>
            <%= business.state %>
          </td>
        </tr>
        <tr>
          <th>Zip Code:</th>
          <td>
            <%= business.zipCode %>
          </td>
        </tr>
        <tr>
          <th>To View Biography</th>
          <td>
            <a href="<%= `/services/construction/${business._id}` %>">Click Here </a>
          </td>
        </tr>
        <tr>
          <th>To Send Review of Service</th>
          <td>
            <a href= "<%= `/services/construction/review/${business._id}` %>">Click Here </a>
            <%= business.review.rating %>
          </td>
        </tr>
        <tr>
          <th>To Send Service Request</th>
          <td>
            <a href="<%= `/services/construction/chat/${business._id}` %>">Click Here</a>
          </td>
        </tr>
        </table>
      <% }}) %>
    </wrapper>